/* 공통css */
body {
    width: 100%;
    overflow-x: hidden;
    /* 높이값이없어서 그냥 overflow: hidden 불가능 */
}

.w1200 {
    width: 1200px;
    margin: auto;
}

.yellow {
    color: #ffc000;
}

.pink {
    color: #ee0f62;
}

.blue {
    color: #2f6bb1;
}

.pc_none {
    display: none;
}

.mb_100 {
    margin-bottom: 100px;
}
/* //공통css */

header {
    width: 100%;
    height: 125px;
    padding: 30px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

header > ul {
    display: flex;
}

.link_nav li {
    min-width: 110px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #555;
    /* 보더2px빠짐 */
    margin: 0 5px;
}
.link_nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.link_nav li:nth-child(1) {
    border: 1px solid #ee0f62;
}
.link_nav li:nth-child(2) {
    border: 1px solid #2f6bb1;
}
.link_nav li:nth-child(3) {
    border: 1px solid #ffc000;
}

.util_nav li:first-child {
    display: flex;
}

.util_nav li:first-child > a {
    display: block;
    width: 28px;
    height: 23px;
    border: 1px solid #bebebe;
    border-left: none;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
    color: #bebebe;
}

.util_nav li > a.font_p {
    /*붙여쓰면 a 중 class가 font_p */
    border-left: 1px solid #bebebe;
}

.user {
    margin: 0 38px 0 30px;
}

.user > a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
}

.search > a {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    background-image: url(../img/icon/icn_search.png);
}

/* nav start */

nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

nav > ul > li {
    width: 16.666%;
}

nav > ul > li > a {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 0;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
}

.btn_nav {
    position: absolute;
    width: 26px;
    height: 20px;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
}

.btn_nav span {
    display: block;
    height: 2px;
    float: right;
    background-color: #000;
    margin-bottom: 7px;
}
.btn_nav span:first-child {
    width: 26px;
}

.btn_nav span:nth-child(2) {
    width: 21px;
}

.btn_nav span:last-child {
    width: 15px;
}

/* footer */
footer {
    width: 100%;
    background-color: #333;
}
.f_top {
    border-bottom: 1px solid #717171;
}

.f_top > ul {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}
.f_top li {
    width: 200px;
    text-align: center;
}

.f_top li > a {
    display: block;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.f_top li a.btn_b {
    display: inline-block;
    width: 130px;
    padding: 2px 0;
    border: 1px solid #51b5ff;
    border-radius: 20px;
    color: #51b5ff;
}

.f_bot > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.f_bot h1 {
    width: 200px;
    height: 100px;
}

address {
    width: calc(100% - 340px);
    font-size: 14px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
}
address li:first-child {
    margin-bottom: 17px;
}

address li span {
    font-weight: 400;
    color: #fff;
}

.f_mark {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

/******* start max-width 1200px ********/

@media only screen and (max-width: 1199px) {
    .mo_none {
        display: none !important;
    }

    .pc_none {
        display: block;
    }

    .w1200 {
        width: 100%;
    }

    header {
        flex-direction: column;
        padding: 8px 4px;
        margin-bottom: 20px;
    }

    header h1 {
        width: 114px;
        top: 80px;
        left: 12px;
        transform: translate(0);
    }

    header h1 img {
        width: 100%;
    }
    .link_nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .link_nav li {
        height: 23px;
        line-height: 22px;
    }
    .link_nav a {
        font-size: 12px;
    }

    .util_nav {
        justify-content: flex-end;
    }
    .user {
        margin: 0;
    }
    nav {
        height: 40px;
    }
    .btn_nav {
        right: 4px;
    }

    .m_search {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 266px;
        border: 1px solid #d2d2d2;
        border-radius: 26px;
        padding-left: 20px;
    }
    .m_search > input {
        border: none;
        background: none;
        outline: none;
    }

    .m_search a {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/icon/icn_search.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* footer */
    footer {
        padding-bottom: 90px;
    }
    .f_top > ul {
        flex-wrap: wrap;
        padding: 0;
    }
    .f_top li {
        width: 33.333%;
        margin: 10px 0;
    }
    .f_top li > a {
        font-size: 3vmin;
    }

    .f_top li a.btn_b {
        width: 60%;
    }
    .f_bot > div {
        position: relative;
        align-items: flex-start;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .f_bot h1 {
        width: 20%;
        height: auto;
    }

    .f_bot h1 img {
        width: 100%;
    }
    address {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    address li {
        display: inline-block;
        font-size: 2vmin;
    }

    address li:first-child {
        width: 100%;
    }
    address li span {
        padding: 3px 0 3px 25%;
        display: block;
    }

    .f_mark {
        width: 100px;
    }
    .f_mark img {
        width: 83%;
    }
}
/******* end max-width 1200px ********/
