/* 공통css */
body {
    width: 100%;
    overflow-x: hidden;
    /* 높이값이없어서 그냥 overflow: hidden 불가능 */
}

.scrollLock {
    overflow: hidden;
}

.w1200 {
    width: 1200px;
    margin: auto;
}

.yellow {
    color: #ffc000;
}

.pink {
    color: #ee0f62;
}

.blue {
    color: #2f6bb1;
}

.pc_none {
    display: none;
}

.mb_100 {
    margin-bottom: 100px;
}
/* //공통css */
.header_wrap {
    position: relative;
    z-index: 9999;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.header_wrap.fix {
    position: fixed;
    width: 100%;
    top: -125px;
    background-color: #000;
}

header {
    width: 100%;
    height: 125px;
    padding: 30px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1 img {
    width: 100%;
}

.logo_white {
    display: none;
    position: absolute;
    width: 132px;
    height: 38px;
    top: 37px;
    left: 2.8125%;
    transform: translateY(-50%);
}

nav.fix .logo_white {
    display: block;
    padding-right: 37px;
}

.logo_white img {
    width: 100%;
}

header > ul {
    display: flex;
}

.link_nav li {
    min-width: 110px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #555;
    /* 보더2px빠짐 */
    margin: 0 5px;
}
.link_nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.link_nav li:nth-child(1) {
    border: 1px solid #ee0f62;
}
.link_nav li:nth-child(2) {
    border: 1px solid #2f6bb1;
}
.link_nav li:nth-child(3) {
    border: 1px solid #ffc000;
}

.util_nav li:first-child {
    display: flex;
}

.util_nav li:first-child > a {
    display: block;
    width: 28px;
    height: 23px;
    border: 1px solid #bebebe;
    border-left: none;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
    color: #bebebe;
}

.util_nav li > a.font_p {
    /*붙여쓰면 a 중 class가 font_p */
    border-left: 1px solid #bebebe;
}

.user {
    margin: 0 38px 0 30px;
}

.user > a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
}

.search > a {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    background-image: url(../img/icon/icn_search.png);
}

/* nav start */

nav {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e6;
    z-index: 100;
}

nav .nav_title.on {
    border: 1px solid #0066b2;
    color: #0066b2;
}

nav.fix .nav_title.on {
    border: 1px solid #fff;
    color: #fff;
}

.nav_title.on + .depth2 {
    display: block;
}

.depth2 {
    position: absolute;
    display: none;
    width: /*100%*/ 1200px;
    height: auto;
    top: 74px;
    left: 0;
    background: #fff;
    font-size: 0;
    text-align: center;
}

.depth2::after {
    position: absolute;
    display: block;
    content: '';
    width: 200%;
    height: 100%;
    top: 0;
    left: -50%;
    border-bottom: 1px solid #e4e4e6;
    background: #fff;
    z-index: -1;
}

.depth2 > .nav_close {
    position: absolute;
    display: block;
    width: 28px;
    height: 29px;
    top: 24px;
    right: 0;
    background: url(../img/icn_cross.png) no-repeat center;
}

.depth2 > p {
    line-height: 40px;
    padding: 89px 0 54px;
    font-size: 22px;
    font-weight: 400;
}
.depth2 > p > img {
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -3px;
    margin: 0 5px;
}

.depth2 div {
    font-size: 16px;
}

/* 컬쳐 */
.depth2.culture {
    padding: 0 0 64px;
}

.depth2.culture > div {
    display: inline-block;
    vertical-align: top;
    width: 16.666666%;
    padding: 0 2px;
    margin-top: 129px;
    box-sizing: border-box;
}

.depth2.culture > div a {
    position: relative;
    display: block;
}

.depth2.culture > div span {
    display: block;
    color: #000;
    box-sizing: border-box;
    background: #f2f2f2;
}

.depth2.culture > div span.thumb {
    position: absolute;
    width: 159px;
    height: 159px;
    left: 50%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    transform: translate(-50%, -98px);
}

.depth2.culture > div span.thumb::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/icn_look.png) rgba(0, 0, 0, 0.3) no-repeat center/auto;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.depth2.culture > div a:hover .thumb::before {
    opacity: 1;
}

.depth2.culture > div span.thumb img {
    display: block;
    width: 100%;
}

.depth2.culture > div span.thumb + span {
    padding-top: 84px;
}

.depth2.culture > div span.tel {
    padding: 11px 0 19px;
    color: #235d13;
}

.depth2.culture > div span.tel img {
    width: auto;
    vertical-align: middle;
    margin-right: 12px;
}

.depth2.culture > div span.title {
    padding: 16px 0;
    border: 1px solid #ececec;
    margin-top: 3px;
    background: transparent;
    color: #434343;
    font-size: 14px;
}

/* 비지니스 */
.depth2.business > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 554px;
    padding: 0 0 22px;
    box-sizing: border-box;
}

.depth2.business > div:not(:last-of-type) {
    margin-right: 12px;
}

.depth2.business > div:nth-of-type(1) {
    background-color: #f4af01;
}

.depth2.business > div:nth-of-type(2) {
    background-color: #e588ab;
}

.depth2.business > div:nth-of-type(3) {
    background-color: #3b9cc8;
}

.depth2.business > div:nth-of-type(4) {
    background-color: #87bf95;
}

.depth2.business > div:nth-of-type(5) {
    background-color: #b5b6b9;
    background-image: url(../img/thumb_bu2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.depth2.business > div .top {
    display: block;
    width: 100%;
    line-height: 70px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.depth2.business > div:nth-of-type(1) .top {
    background-color: #fcce13;
}
.depth2.business > div:nth-of-type(2) .top {
    background-color: #f2adc5;
}
.depth2.business > div:nth-of-type(3) .top {
    background-color: #76c8e1;
}
.depth2.business > div:nth-of-type(4) .top {
    background-color: #b2dabe;
}
.depth2.business > div:nth-of-type(5) .top {
    background-color: #d3d4d6;
}

.depth2.business > div > ul {
    padding: 13px 11px 17px;
}

.depth2.business > div .thumb {
    display: block;
    width: 100%;
    height: 189px;
    margin: 0 0 4px;
    background: url(../img/thumb_bu1.png) no-repeat center/cover;
}

.depth2.business > div > ul > li {
    line-height: 1.9;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.depth2.business > div > ul > li > a {
    color: #fff;
    font-weight: 400;
}

.depth2.business > div:nth-of-type(5) {
    background-color: #b5b6b9;
    background-image: url(../img/thumb_bu2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.depth2.business > div:nth-of-type(5) p {
    line-height: 1.6;
    padding: 33px 23px 0;
    color: #fff;
    font-weight: 400;
    text-align: left;
    word-break: keep-all;
}

.depth2.business > div:nth-of-type(5) p span {
    display: inline-block;
    line-height: 1.1;
    padding: 0 1px;
    font-weight: inherit;
    background: #959627;
}

.depth2.business > div .more {
    position: absolute;
    display: block;
    width: 146px;
    height: 34px;
    line-height: 32px;
    bottom: 22px;
    left: 50%;
    border: 1px solid #fff;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    transform: translate(-50%, 0);
}
/* 래퍼런스 */
.depth2 div {
    font-size: 16px;
}

.depth2.reference {
    padding-bottom: 60px;
}

.depth2.reference .box {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.depth2.reference .box1 {
    width: 600px;
    font-size: 0;
}

.depth2.reference .box1 > img {
    display: block;
    margin-bottom: 15px;
}

.depth2.reference .box1 > div:nth-of-type(-n + 5) {
    display: inline-block;
    vertical-align: middle;
    width: 108px;
    text-align: center;
    box-sizing: border-box;
}

.depth2.reference .box1 > div:nth-of-type(-n + 5):not(:first-of-type) {
    margin-left: 15px;
}

.depth2.reference .box1 > div:nth-of-type(6) {
    font-size: 0;
    margin-top: 15px;
}

.depth2.reference .box1 > div:nth-of-type(-n + 5) a {
    display: block;
    line-height: 1.25;
    padding: 53px 3px 12px 57px;
    border: 1px solid #cfcfcf;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    box-sizing: border-box;
    transition: border 0.3s linear, color 0.3s linear, background 0.3s linear;
    background-repeat: no-repeat;
}

.depth2.reference .box1 > div:nth-of-type(1) a {
    background-image: url(../img/icn_ref1.png);
    background-position: 14px 13px;
}

.depth2.reference .box1 > div:nth-of-type(2) a {
    background-image: url(../img/icn_ref2.png);
    background-position: 14px 18px;
}

.depth2.reference .box1 > div:nth-of-type(3) a {
    background-image: url(../img/icn_ref3.png);
    background-position: 13px 18px;
}

.depth2.reference .box1 > div:nth-of-type(4) a {
    background-image: url(../img/icn_ref4.png);
    background-position: 13px 18px;
}

.depth2.reference .box1 > div:nth-of-type(5) a {
    background-image: url(../img/icn_ref5.png);
    background-position: 13px 14px;
}

.depth2.reference .box1 > div:nth-of-type(6) {
    font-size: 0;
    margin-top: 15px;
}

.depth2.reference .box1 > div:nth-of-type(6) div {
    position: relative;
    display: inline-block;
    height: 120px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.depth2.reference .box1 > div:nth-of-type(6) div:nth-of-type(1) {
    width: 354px;
    margin-right: 15px;
    background-image: url(../img/bg_nav3_6_1.png);
}

.depth2.reference .box1 > div:nth-of-type(6) div:nth-of-type(2) {
    width: 231px;
    background-image: url(../img/bg_nav3_6_2.png);
}

.depth2.reference .box1 > div:nth-of-type(6) a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 43px 0 0 17px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: left;
}

.depth2.reference .box1 > div:nth-of-type(6) div::before {
    position: absolute;
    display: block;
    content: '\0047\0061\006C\006C\0065\0072\0079';
    top: 5px;
    left: 17px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.depth2.reference .box1 > div:nth-of-type(6) div::before {
    position: absolute;
    display: block;
    content: '\0047\0061\006C\006C\0065\0072\0079';
    top: 5px;
    left: 17px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.depth2.reference .box1 > div:nth-of-type(-n + 5) a:hover {
    border: 1px solid #0066b2;
    color: #0066b2;
}

.depth2.reference .box1 > div:nth-of-type(1) a:hover {
    background-image: url(../img/icn_ref1a.png);
}
.depth2.reference .box1 > div:nth-of-type(2) a:hover {
    background-image: url(../img/icn_ref2a.png);
}
.depth2.reference .box1 > div:nth-of-type(3) a:hover {
    background-image: url(../img/icn_ref3a.png);
}
.depth2.reference .box1 > div:nth-of-type(4) a:hover {
    background-image: url(../img/icn_ref4a.png);
}
.depth2.reference .box1 > div:nth-of-type(5) a:hover {
    background-image: url(../img/icn_ref5a.png);
}

.depth2.reference .box2 {
    width: 345px;
    padding: 22px 0 0 78px;
}

.depth2 div {
    font-size: 16px;
}

.depth2.reference .box2 a {
    position: relative;
    display: block;
    text-align: left;
}

.depth2.reference .box em {
    font-style: normal;
}

.depth2.reference .box2 .year {
    position: absolute;
    display: inline-block;
    top: 158px;
    left: -30px;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.depth2.reference .box2 .year em {
    display: inline-block;
    line-height: 1;
    font-weight: 400;
}

.depth2.reference .box2 .numb {
    position: absolute;
    display: block;
    width: 66px;
    height: 66px;
    line-height: 66px;
    top: -12px;
    right: 0;
    background: #000;
    color: #fff;
    text-align: center;
}

.depth2.reference .box2 .thumb {
    display: block;
    max-height: 357px;
    margin-bottom: 22px;
    overflow: hidden;
}

.depth2.reference .box2 .thumb img {
    display: block;
    width: 100%;
}

.depth2.reference .box2 .name {
    position: relative;
    display: inline-block;
    padding-left: 4px;
    color: #000;
}

.depth2.reference .box2 .name::after {
    position: absolute;
    display: block;
    content: '';
    width: 53px;
    height: 8px;
    right: -51px;
    bottom: 4px;
    background: url(../img/deco_arrowright.png);
}

.depth2.reference .box2 .name em {
    color: #0a62a6;
}

.depth2.reference .box3 {
    width: 255px;
    padding-left: 23px;
}

.depth2.reference .box3 > div {
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.depth2.reference .box3 a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px 12px;
    font-size: 16px;
    color: #000;
    text-align: left;
    box-sizing: border-box;
}

.depth2.reference .box3 > div:not(:last-of-type) {
    margin-bottom: 23px;
}

.depth2.reference .box3 a > img {
    display: block;
    width: 100%;
    margin-bottom: 23px;
}

.depth2.reference .box3 a span {
    position: relative;
    display: block;
    padding-left: 2px;
}

.depth2.reference .box3 a span img {
    position: absolute;
    display: block;
    right: 1px;
    top: 50%;
    transform: translate(0, -50%);
}

.depth2.reference .box3 .webzine a::after,
.depth2.reference .box3 .archive a::after {
    position: absolute;
    display: block;
    top: 16px;
    right: 22px;
    font-size: 20px;
    color: #fff;
}

.depth2.reference .box3 .webzine a::after {
    content: 'WEBZINE';
}

.depth2.reference .box3 .archive a::after {
    content: 'ARCHIVE';
}

.depth2.reference .box3 a span em {
    color: #ff8a00;
}

/* notice */

.depth2.notice {
    padding-bottom: 50px;
}

.depth2.notice .top_box {
    position: relative;
    width: 1200px;
    height: 176px;
    margin-bottom: 57px;
    text-align: center;
    background: url(../img/bg_mtop4.png) no-repeat center/cover;
}

.depth2.notice .top_box a {
    position: relative;
    display: inline-block;
    margin: 61px 0;
    color: #fff;
    font-size: 36.01px;
}

.depth2.notice .link_box {
    font-size: 0;
}

.depth2.notice .link_box > div {
    display: inline-block;
    width: 285px;
    margin-top: 18px;
}

.depth2.notice .link_box > div:not(:nth-of-type(4n)) {
    margin-right: 20px;
}

.depth2.notice .link_box > div:nth-of-type(-n + 4) {
    margin-top: 0;
}

.depth2.notice .link_box > div a {
    position: relative;
    display: block;
    padding: 7px 0;
    border: 1px solid #d8d8d8;
    color: #000;
    border-radius: 20px;
    box-sizing: border-box;
    transition: border 0.2s linear, color 0.2s linear;
}

.depth2.notice .link_box > div a:hover {
    border: 1px solid #fd7a1f;
    color: #fd7a1f;
}

.depth2.notice .link_box > div a::after {
    position: absolute;
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    top: 50%;
    right: 13px;
    background: url(../img/icn_plus2.png);
    transform: translate(0, -50%);
}

/* disclosure */
.depth2.disclosure > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.depth2.disclosure .inner {
    width: 380px;
    padding: 220px 36px 15px;
    box-sizing: border-box;
}

.depth2.disclosure .inner:nth-of-type(1) {
    background: #f3f0eb;
}

.depth2.disclosure .inner:nth-of-type(2) {
    background: #e9eeef;
}

.depth2.disclosure .inner:nth-of-type(3) {
    background: #f3f0eb;
}

.depth2.disclosure .inner:not(:last-of-type) {
    margin-right: 30px;
}

.depth2.disclosure .inner::before,
.depth2.disclosure .inner::after {
    position: absolute;
    display: block;
    line-height: 1.2;
    top: 12px;
    right: 28px;
    width: 70px;
    font-size: 35px;
    color: #fff;
}

.depth2.disclosure .inner::before {
    content: '';
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
}

.depth2.disclosure .inner:nth-of-type(1)::before {
    background: url(../img/bg_nav5_1.png) center/cover;
}

.depth2.disclosure .inner:nth-of-type(1)::after {
    content: '윤리경영';
}

.depth2.disclosure .inner div {
    text-align: left;
    border-radius: 5px;
}

.depth2.disclosure .inner:nth-of-type(1) div {
    background: #fff;
}

.depth2.disclosure .inner div:not(:last-of-type) {
    margin-bottom: 13px;
}

.depth2.disclosure .inner a {
    display: block;
    padding: 7px 35px;
    box-sizing: border-box;
    font-weight: 400;
}

.depth2.disclosure .inner:nth-of-type(1) a {
    color: #695739;
}

.depth2.disclosure .inner:nth-of-type(2)::before {
    background: url(../img/bg_nav5_2.png) center/cover;
}

.depth2.disclosure .inner:nth-of-type(2)::after {
    content: '경영공시';
}

.depth2.disclosure .inner:nth-of-type(2) a {
    color: #4f7178;
}

.depth2.disclosure .inner:nth-of-type(3)::before {
    background: url(../img/bg_nav5_3.png) center/cover;
}

.depth2.disclosure .inner:nth-of-type(2) div {
    background: #fff;
}

.depth2.disclosure .inner:nth-of-type(3) div {
    background: #fff;
}

.depth2.disclosure .inner:nth-of-type(3) div:nth-of-type(1) a {
    background-image: url(../img/icn_sc.png);
    background-position: 214px center;
}

.depth2.disclosure .inner:nth-of-type(3) div:nth-of-type(2) a {
    background-image: url(../img/icn_rd.png);
    background-position: 204px center;
}

.depth2.disclosure .inner:nth-of-type(3)::after {
    content: '정관규정';
}

.depth2.disclosure .inner:nth-of-type(3) a {
    color: #695739;
    padding: 30px 78px;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: auto;
}

/* about */
.depth2.about > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 376px;
    box-sizing: border-box;
}

.depth2.about {
    padding: 0 0 30px;
    font-size: 0;
}

.depth2.about .inner1 {
    padding: 206px 40px 35px;
    background: url(../img/icn_ci_mark.png) #89d2d3 no-repeat 41px 34px / auto;
}

.depth2.about .inner div {
    position: relative;
    text-align: right;
}

.depth2.about .inner1::before,
.depth2.about .inner1::after {
    position: absolute;
    display: block;
}

.depth2.about .inner2 .top::before,
.depth2.about .inner2 .top::after {
    position: absolute;
    display: block;
}

.depth2.about .inner2 .bottom::before,
.depth2.about .inner2 .bottom::after {
    position: absolute;
    display: block;
}

.depth2.about .inner3 .top::before,
.depth2.about .inner3 .top::after {
    position: absolute;
    display: block;
}

.depth2.about .inner3 .bottom::before,
.depth2.about .inner3 .bottom::after {
    position: absolute;
    display: block;
}

.depth2.about .inner:not(:last-of-type) {
    margin-right: 36px;
}

.depth2.about .inner1::before {
    content: '대전문화재단';
    top: 90px;
    left: 43px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
.depth2.about .inner1::after {
    content: '';
    width: 44px;
    height: 2px;
    top: 139px;
    left: 44px;
    background-color: #fff;
}

.depth2.about .type > div::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

.depth2.about .inner div {
    position: relative;
    text-align: right;
}

.depth2.about .inner a {
    display: inline-block;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    box-sizing: border-box;
}

.depth2.about .inner2 .top {
    background: url(../img/bg_nav6_5.png) center/cover;
}

.depth2.about .inner2 .top::before {
    content: '대전문화재단';
    width: 100%;
    top: 59px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.depth2.about .inner2 .top a {
    display: block;
    width: 100%;
    padding: 86px 0 32px;
    font-size: 22px;
    text-align: center;
}

.depth2.about .inner2 .top::after {
    content: '';
    width: 44px;
    height: 2px;
    top: 43px;
    left: 50%;
    background: #fff;
    transform: translate(-50%, 0);
}

.depth2.about .inner2 .bottom {
    padding: 89px 30px 35px 59px;
    margin-top: 36px;
    background: url(../img/icn_give.png) #d5aed8 no-repeat 23px 22px / auto;
}

.depth2.about .inner2 .bottom::before {
    content: '문화기부';
    top: 37px;
    left: 96px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.depth2.about .inner2 .bottom::after {
    content: '';
    width: 44px;
    height: 2px;
    top: 28px;
    left: 98px;
    background-color: #fff;
}

.depth2.about .inner3 .top {
    padding: 93px 40px 28px 47px;
    background: url(../img/icn_struc.png) #eac488 no-repeat 44px 26px / auto;
}

.depth2.about .inner3 .top::before {
    content: '유관/협약기관 안내';
    top: 41px;
    left: 105px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.depth2.about .inner3 .bottom {
    margin-top: 36px;
    background: url(../img/bg_nav6_8.png) center/cover;
}

.depth2.about .inner3 .bottom::before {
    content: '대전문화재단';
    width: 100%;
    top: 42px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.depth2.about .inner3 .top::after {
    content: '';
    width: 44px;
    height: 2px;
    top: 36px;
    left: 105px;
    background-color: #fff;
}

.depth2.about .inner3 .bottom a {
    display: block;
    width: 100%;
    padding: 69px 0 17px;
    font-size: 22px;
    text-align: center;
}

.depth2.about .type > div::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

.depth2.about .inner3 .bottom::after {
    content: '';
    width: 44px;
    height: 2px;
    top: 26px;
    left: 50%;
    background: #fff;
    transform: translate(-50%, 0);
}
/* 햄버거 클릭메뉴 */
nav.fix {
    background-color: #000;
}

nav > ul {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

nav > ul > li {
    width: 16.666%;
}

nav > ul > li > a {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 0;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
}

nav.fix > ul > li > a {
    color: #fff;
}

.btn_nav {
    position: absolute;
    width: 26px;
    height: 20px;
    top: 37px;
    right: 65px;
    transform: translateY(-50%);
}

.btn_nav a {
    display: block;
    width: 100%;
    height: 100%;
}

.btn_nav span {
    display: block;
    height: 2px;
    float: right;
    background-color: #000;
    margin-bottom: 7px;
    transition: width 0.3s ease;
}
.btn_nav span:first-child {
    width: 26px;
}

.btn_nav span:nth-child(2) {
    width: 21px;
}

.btn_nav span:last-child {
    width: 15px;
}

.btn_nav a:hover span {
    width: 26px;
}

nav.fix .btn_nav span {
    background-color: #fff;
}

/* nav2 */
.full_menu {
    display: none;
    width: 100%;
    background-color: #fff;
}

.on {
    display: block;
}

.full_menu_inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 22px;
}

.close {
    position: absolute;
    display: block;
    width: 28px;
    height: 29px;
    top: 23px;
    right: 23px;
    padding: 0;
}

.close a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/icn_cross.png);
    z-index: 1;
}

.listwrap {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
}

.listwrap li {
    display: inline-table;
    width: 100%;
    padding: 0;
}

.listwrap > li > p,
.listwrap > li > ul {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border-bottom: 1px solid #eaeaea;
}

.listwrap > li p {
    width: 19.25%;
    padding: 0 10px 0 54px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.listwrap > li:nth-child(1) > p {
    background-image: url(../img/icn_nav1.png);
    background-position: 10px center;
}
.listwrap > li:nth-child(2) > p {
    background-image: url(../img/icn_nav2.png);
    background-position: 12px center;
}
.listwrap > li:nth-child(3) > p {
    background-image: url(../img/icn_nav3.png);
    background-position: 12px center;
}
.listwrap > li:nth-child(4) > p {
    background-image: url(../img/icn_nav4.png);
    background-position: 11px center;
}
.listwrap > li:nth-child(5) > p {
    background-image: url(../img/icn_nav5.png);
    background-position: 9px center;
}
.listwrap > li:nth-child(6) > p {
    background-image: url(../img/icn_nav6.png);
    background-position: 12px center;
}

.listwrap > li:nth-child(3n-2) > p {
    border-bottom: 1px solid #0066b2;
    color: #0066b2;
}

.listwrap > li:nth-child(3n-1) > p {
    border-bottom: 1px solid #e24b84;
    color: #e24b84;
}

.listwrap > li:nth-child(3n) > p {
    border-bottom: 1px solid #f9a51a;
    color: #f9a51a;
}

.listwrap > li > ul {
    width: 80.75%;
    padding: 15px 0 15px 42px;
    box-sizing: border-box;
}

.listwrap > li > ul > li {
    display: inline-block;
    width: 23%;
    line-height: 3;
}

.listwrap > li > ul.depth > li:nth-child(2),
.listwrap > li > ul.depth > li:nth-child(6) {
    width: 19%;
}

.listwrap > li > ul.depth > li:nth-child(3),
.listwrap > li > ul.depth > li:nth-child(7) {
    width: 25%;
}

.listwrap > li > ul.depth > li:nth-child(4),
.listwrap > li > ul.depth > li:nth-child(8) {
    width: 17%;
}

.listwrap > li > ul.depth > li:nth-child(9) {
    width: 12%;
}

.listwrap > li > ul > li > a {
    color: #000;
}
/* footer */
footer {
    width: 100%;
    background-color: #333;
}
.f_top {
    border-bottom: 1px solid #717171;
}

.f_top > ul {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}
.f_top li {
    width: 200px;
    text-align: center;
}

.f_top li > a {
    display: block;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.f_top li a.btn_b {
    display: inline-block;
    width: 130px;
    padding: 2px 0;
    border: 1px solid #51b5ff;
    border-radius: 20px;
    color: #51b5ff;
}

.f_bot > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
/* 
.f_bot h1 {
    width: 200px;
    height: 100px;
} */

address {
    width: calc(100% - 340px);
    font-size: 14px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
}
address li:first-child {
    margin-bottom: 17px;
}

address li span {
    font-weight: 400;
    color: #fff;
}

.f_mark {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

#for_totop {
    position: fixed;
    display: block;
    width: 9.6025vw;
    height: 9.6025vw;
    max-width: 60px;
    max-height: 60px;
    right: 23px;
    bottom: 21px;
    font-size: 0;
    background: url(../img/icon/totop.png) no-repeat center/100% 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

#for_totop.on {
    opacity: 1;
    visibility: visible;
}

/******* start max-width 1599px ********/
@media only screen and (max-width: 1599px) {
    nav > ul > li {
        width: 11.833333%;
    }

    nav.fix > ul > li {
        width: 12.916666%;
    }
}

/******* start max-width 1279px ********/
@media only screen and (max-width: 1279px) {
    nav > ul > li {
        width: 12.916666%;
    }
}

/******* start max-width 1200px ********/

@media only screen and (max-width: 1199px) {
    .mo_none {
        display: none !important;
    }

    .pc_none {
        display: block;
    }

    .w1200 {
        width: 100%;
    }

    .header_wrap.fix header {
        margin: 0;
    }

    nav.fix {
        padding: 8px 0;
    }

    nav.fix .logo_white {
        width: 114px;
        top: 54%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
    }

    nav.fix .m_search {
        display: none;
    }

    header {
        flex-direction: column;
        padding: 8px 4px;
        margin-bottom: 20px;
    }

    header h1 {
        width: 114px;
        top: 80px;
        left: 12px;
        transform: translate(0);
    }

    header h1 img {
        width: 100%;
    }
    .link_nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .link_nav li {
        height: 23px;
        line-height: 22px;
    }
    .link_nav a {
        font-size: 12px;
    }

    .util_nav {
        justify-content: flex-end;
    }
    .user {
        margin: 0;
    }
    nav {
        height: 40px;
    }
    .btn_nav {
        width: 23px;
        right: 4px;
        top: 50%;
    }

    .btn_nav span {
        display: block;
        height: 2px;
        float: right;
        background-color: #000;
        margin-bottom: 5px;
    }
    .btn_nav span:first-child {
        width: 23px;
    }

    .btn_nav span:nth-child(2) {
        width: 18px;
    }

    .btn_nav span:last-child {
        width: 13px;
    }

    .m_search {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 266px;
        border: 1px solid #d2d2d2;
        border-radius: 26px;
        padding-left: 20px;
    }
    .m_search > input {
        border: none;
        background: none;
        outline: none;
    }

    .m_search a {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/icon/icn_search.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .listwrap {
        height: 100vh;
    }

    .listwrap > li {
        padding-top: 30px;
    }

    .listwrap > li:nth-child(1) {
        padding-top: 60px;
    }

    .listwrap > li p {
        font-size: 18px;
        display: block;
        width: 100%;
        cursor: pointer;
        background-size: 23px;
    }

    .listwrap > li:nth-child(3) > p,
    .listwrap > li:nth-child(6) > p {
        background-size: 17px;
    }

    .listwrap > li:nth-child(5) > p {
        background-size: 20px;
    }

    .listwrap > li > ul {
        display: block;
        width: 100%;
    }

    .listwrap > li > ul > li {
        width: 49% !important;
        word-break: keep-all;
        line-height: 2;
        font-size: 14px;
    }

    /* footer */
    footer {
        padding-bottom: 90px;
    }
    .f_top > ul {
        flex-wrap: wrap;
        padding: 0;
    }
    .f_top li {
        width: 33.333%;
        margin: 10px 0;
    }
    .f_top li > a {
        font-size: 3vmin;
    }

    .f_top li a.btn_b {
        width: 60%;
    }
    .f_bot > div {
        position: relative;
        align-items: flex-start;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .f_bot h1 {
        width: 20%;
        height: auto;
    }

    .f_bot h1 img {
        width: 100%;
    }
    address {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    address li {
        display: inline-block;
        font-size: 2vmin;
    }

    address li:first-child {
        width: 100%;
    }
    address li span {
        padding: 3px 0 3px 25%;
        display: block;
    }

    .f_mark {
        width: 100px;
    }
    .f_mark img {
        width: 83%;
    }
}
/******* end max-width 1200px ********/
